*/.settings/**
*/.classpath
*/.project
*/target/**
*/build/**
*/bin/**
/.gradle/

\.project

\.settings/

MSF4JExample/metrics/

MSF4JExample/deployment\.yaml
GraviteeExample/docker/data
GraviteeExample/dcg/data
ApacheCamelRestELK/src/test/resources/docker-elk/data/
ApacheCamelRestELK/src/test/resources/docker/data/
ApacheCamelEureka/ApacheCamelEurekaClient/.classpath
ApacheCamelHystrix/src/test/resources/docker/data/portainer/

ConsulExample/SparkMicroservices/target/
