<configuration>
<!-- appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root-->
	<appender name="STASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:\Users\dblanco\apacheCamelELK.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>>C:\Users\dblanco\apacheCamelELK.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>
	<root level="INFO">
		<appender-ref ref="STASH" />
	</root>
</configuration>