<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd/MM/yy HH:mm:ss} %-5level %c{1.} [%L] %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.getronics" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="es.gedasgrp" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>