<configuration>
	<appender name="STASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./src/test/resources/docker-ebk/data/apache/apache_Camel_ELK.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./src/test/resources/docker-ebk/data/apache/apacheCamelELK.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"appname":"Apache Camel ELK"}</customFields>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="STASH" />
	</root>
</configuration>